@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color: rgb(254, 254, 255);
  --secondary-color: rgb(1, 49, 83);
  --tertiary-color: rgb(163, 168, 202);

  --outline-color: rgb(250, 95, 95);

  color: var(--secondary-color);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: "Varela Round", sans-serif;
}

html {
  /* overflow: hidden; */
}

body {
  width: 100vw;
  height: 100vh;
}

#root {
  width: 100%;
  height: 100%;
}
